/.buildpath
/.cache
/.metadata
/.project
/.settings
/sitemap
/.idea
/.gitattributes
/app/code/core
/app/code/community/*
/app/config_sandbox
/app/design/adminhtml/default/*
/app/design/frontend/base/*
/app/design/frontend/default/*
/app/design/frontend/rwd/*
/app/design/install/*
/app/etc/config.php
/app/code/Magento/TestModule*
/app/locale/en_US/*
/app/.htaccess
/app/Mage.php
/downloader/*
/errors/*
/includes/*
/js/*
/lib/*
/media/*
/pkginfo/*
/shell/*
/var/*

/.htaccess*
/cron.sh
/favicon.ico
/*.php
/*.sample
/*.html
/*.txt
/mage