/.buildpath
/.cache
/.metadata
/.project
/.settings
/sitemap
/.idea
/.gitattributes
/app/code/core/*
/app/code/community/*
/app/code/local/Smartwave/*
/app/code/Magento/TestModule*
/app/config_sandbox
/app/design/adminhtml/default/*
/app/design/frontend/base/*
/app/design/frontend/default/*
/app/design/frontend/rwd/*
/app/design/frontend/smartwave/default/*
/app/design/frontend/smartwave/porto/layout/*
/app/design/frontend/smartwave/porto/locale/en_US/*
/app/design/frontend/smartwave/porto/template/*
/app/design/install/*
/app/etc/config.*
/app/etc/local.*
/app/etc/modules/Cm_*
/app/etc/modules/Mage_*
/app/etc/modules/Phoenix_*
/app/etc/modules/Smartwave_*
/app/locale/de_DE/*
/app/locale/en_US/*
/app/locale/fr_FR/*
/app/locale/nl_NL/*
/app/locale/ru_RU/*
/app/locale/id_ID.zip
/app/.htaccess
/app/Mage.php
/downloader/*
/errors/*
/includes/*
/js/*
/lib/*
/media/*
/pkginfo/*
/shell/*
/skin/adminhtml/default/default/*
/skin/frontend/base/*
/skin/frontend/default/*
/skin/frontend/rwd/*
/skin/frontend/smartwave/*
/skin/install/*
/var/*
/.htaccess*
/cron.sh
/favicon.ico
/*.php
/*.sample
/*.html
/*.txt
/mage