<?xml version="1.0"?>

<config>
  <modules>
    <Pena_Shipping>
      <version>0.1.0</version>
    </Pena_Shipping>
  </modules>
  <admin>
      <fieldsets>
          <customer_dataflow>
              <customtown><billing>1</billing><shipping>1</shipping></customtown>
          </customer_dataflow>
      </fieldsets>
  </admin>
  <global>
    <resources>
      <pena_shipping_setup>
        <setup>
          <module>Pena_Shipping</module>
          <class>Pena_Shipping_Model_Resource_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </pena_shipping_setup>
    </resources>
    <fieldsets>
        <sales_copy_order_billing_address>
            <customtown><to_order>*</to_order></customtown>
        </sales_copy_order_billing_address>
        <sales_copy_order_shipping_address>
            <customtown><to_order>*</to_order></customtown>
        </sales_copy_order_shipping_address>
        <sales_convert_quote_address>
            <customtown><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></customtown>
        </sales_convert_quote_address>
        <sales_convert_order_address>
            <customtown><to_quote_address>*</to_quote_address></customtown>
        </sales_convert_order_address>
        <customer_address>
             <customtown><to_quote_address>*</to_quote_address></customtown>
        </customer_address>
        <checkout_onepage_billing>
            <customtown><to_customer>*</to_customer></customtown>
        </checkout_onepage_billing>
    </fieldsets>
  </global>
</config>